<div class="list-container">
  <div class="tasks">
    <div class="input-task">
      <input type="text" [(ngModel)]="titleValue" placeholder="Título" />
      <input type="text" [(ngModel)]="descriptionValue" placeholder="Descripción" />
      <button (click)="addTask()">Agregar Tarea</button>
    </div>
    <ul>
      @for (task of listOfTasks; track $index) {
      <li>
        <span>{{ task.title }}</span>
        <p>{{ task.description }}</p>
        <p>{{ task.createAt }}</p>
        <p>id: {{ task.id }}</p>
      </li>
      }
    </ul>
  </div>
</div>