.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tasks {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 0;
    }
  }
}
